In [1]:
import pandas as pd
import numpy as np

In [2]:
raw_data = pd.read_csv('csv/ratings_small.csv')
raw_data

        userId  movieId  rating   timestamp
0            1       31     2.5  1260759144
1            1     1029     3.0  1260759179
2            1     1061     3.0  1260759182
3            1     1129     2.0  1260759185
4            1     1172     4.0  1260759205
...        ...      ...     ...         ...
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

[100004 rows x 4 columns]

In [3]:
data = raw_data.copy()
data

        userId  movieId  rating   timestamp
0            1       31     2.5  1260759144
1            1     1029     3.0  1260759179
2            1     1061     3.0  1260759182
3            1     1129     2.0  1260759185
4            1     1172     4.0  1260759205
...        ...      ...     ...         ...
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

[100004 rows x 4 columns]

In [4]:
data_no_timestamp = data.drop('timestamp', axis=1)
data_no_timestamp

        userId  movieId  rating
0            1       31     2.5
1            1     1029     3.0
2            1     1061     3.0
3            1     1129     2.0
4            1     1172     4.0
...        ...      ...     ...
99999      671     6268     2.5
100000     671     6269     4.0
100001     671     6365     4.0
100002     671     6385     2.5
100003     671     6565     3.5

[100004 rows x 3 columns]

In [5]:
data_ntm = data_no_timestamp.copy()
data_ntm

        userId  movieId  rating
0            1       31     2.5
1            1     1029     3.0
2            1     1061     3.0
3            1     1129     2.0
4            1     1172     4.0
...        ...      ...     ...
99999      671     6268     2.5
100000     671     6269     4.0
100001     671     6365     4.0
100002     671     6385     2.5
100003     671     6565     3.5

[100004 rows x 3 columns]

In [6]:
from collections import defaultdict
my_movie_dict = defaultdict(int)

In [7]:
for i in range(len(data_ntm['movieId'])):
    if data_ntm['movieId'][i] not in my_movie_dict:
        my_movie_dict[data_ntm['movieId'][i]] = data_ntm['movieId'][i]

In [8]:
my_movie_dict

defaultdict(int,
            {31: 31,
             1029: 1029,
             1061: 1061,
             1129: 1129,
             1172: 1172,
             1263: 1263,
             1287: 1287,
             1293: 1293,
             1339: 1339,
             1343: 1343,
             1371: 1371,
             1405: 1405,
             1953: 1953,
             2105: 2105,
             2150: 2150,
             2193: 2193,
             2294: 2294,
             2455: 2455,
             2968: 2968,
             3671: 3671,
             10: 10,
             17: 17,
             39: 39,
             47: 47,
             50: 50,
             52: 52,
             62: 62,
             110: 110,
             144: 144,
             150: 150,
             153: 153,
             161: 161,
             165: 165,
             168: 168,
             185: 185,
             186: 186,
             208: 208,
             222: 222,
             223: 223,
             225: 225,
             235: 235,
             248: 248,
             253: 253,
             261: 261,
             265: 265,
             266: 266,
             272: 272,
             273: 273,
             292: 292,
             296: 296,
             300: 300,
             314: 314,
             317: 317,
             319: 319,
             339: 339,
             349: 349,
             350: 350,
             356: 356,
             357: 357,
             364: 364,
             367: 367,
             370: 370,
             371: 371,
             372: 372,
             377: 377,
             382: 382,
             405: 405,
             410: 410,
             454: 454,
             457: 457,
             468: 468,
             474: 474,
             480: 480,
             485: 485,
             497: 497,
             500: 500,
             508: 508,
             509: 509,
             515: 515,
             527: 527,
             537: 537,
             539: 539,
             550: 550,
             551: 551,
             552: 552,
             585: 585,
             586: 586,
             587: 587,
             588: 588,
             589: 589,
             590: 590,
             592: 592,
             593: 593,
             616: 616,
             661: 661,
             720: 720,
             60: 60,
             247: 247,
             267: 267,
             318: 318,
             355: 355,
             595: 595,
             736: 736,
             778: 778,
             866: 866,
             1197: 1197,
             1210: 1210,
             1235: 1235,
             1271: 1271,
             1378: 1378,
             1580: 1580,
             1721: 1721,
             1884: 1884,
             2028: 2028,
             2318: 2318,
             2513: 2513,
             2694: 2694,
             2702: 2702,
             2716: 2716,
             2762: 2762,
             2841: 2841,
             2858: 2858,
             2959: 2959,
             3243: 3243,
             3510: 3510,
             3949: 3949,
             5349: 5349,
             5669: 5669,
             6377: 6377,
             7153: 7153,
             7361: 7361,
             8622: 8622,
             8636: 8636,
             27369: 27369,
             44191: 44191,
             48783: 48783,
             50068: 50068,
             58559: 58559,
             84236: 84236,
             34: 34,
             112: 112,
             141: 141,
             173: 173,
             260: 260,
             289: 289,
             329: 329,
             380: 380,
             431: 431,
             434: 434,
             435: 435,
             440: 440,
             442: 442,
             464: 464,
             541: 541,
             594: 594,
             596: 596,
             610: 610,
             858: 858,
             903: 903,
             910: 910,
             913: 913,
             919: 919,
             1011: 1011,
             1016: 1016,
             1022: 1022,
             1028: 1028,
             1030: 1030,
             1031: 1031,
             1032: 1032,
             1033: 1033,
             1036: 1036,
             1073: 1073,
             1079: 1079,
             1089: 1089,
             1097: 1097,
             1125: 1125,
             1127: 1127,
             1136: 1136,
             1194: 1194,
             1196: 1196,
             1198: 1198,
             1200: 1200,
             1206: 1206,
             1208: 1208,
             1213: 1213,
             1214: 1214,
             1219: 1219,
             1220: 1220,
             1222: 1222,
             1225: 1225,
             1230: 1230,
             1240: 1240,
             1243: 1243,
             1257: 1257,
             1258: 1258,
             1259: 1259,
             1265: 1265,
             1270: 1270,
             1278: 1278,
             1282: 1282,
             1285: 1285,
             1288: 1288,
             1291: 1291,
             1298: 1298,
             1307: 1307,
             1332: 1332,
             1334: 1334,
             1344: 1344,
             1356: 1356,
             1372: 1372,
             1374: 1374,
             1376: 1376,
             1377: 1377,
             1380: 1380,
             1387: 1387,
             1388: 1388,
             1396: 1396,
             1544: 1544,
             1663: 1663,
             1674: 1674,
             1805: 1805,
             1858: 1858,
             1917: 1917,
             1918: 1918,
             1954: 1954,
             1961: 1961,
             1967: 1967,
             1968: 1968,
             1994: 1994,
             2000: 2000,
             2002: 2002,
             2003: 2003,
             2005: 2005,
             2014: 2014,
             2018: 2018,
             2020: 2020,
             2021: 2021,
             2033: 2033,
             2034: 2034,
             2046: 2046,
             2054: 2054,
             2064: 2064,
             2078: 2078,
             2080: 2080,
             2081: 2081,
             2085: 2085,
             2086: 2086,
             2087: 2087,
             2091: 2091,
             2094: 2094,
             2096: 2096,
             2100: 2100,
             2102: 2102,
             2109: 2109,
             2110: 2110,
             2114: 2114,
             2115: 2115,
             2124: 2124,
             2140: 2140,
             2141: 2141,
             2143: 2143,
             2144: 2144,
             2161: 2161,
             2174: 2174,
             2194: 2194,
             2248: 2248,
             2263: 2263,
             2268: 2268,
             2289: 2289,
             2348: 2348,
             2371: 2371,
             2403: 2403,
             2406: 2406,
             2409: 2409,
             2454: 2454,
             2467: 2467,
             2551: 2551,
             2616: 2616,
             2628: 2628,
             2640: 2640,
             2659: 2659,
             2683: 2683,
             2699: 2699,
             2723: 2723,
             2734: 2734,
             2770: 2770,
             2788: 2788,
             2791: 2791,
             2795: 2795,
             2797: 2797,
             2804: 2804,
             2822: 2822,
             2867: 2867,
             2872: 2872,
             2877: 2877,
             2902: 2902,
             2903: 2903,
             2916: 2916,
             2918: 2918,
             2986: 2986,
             2987: 2987,
             2991: 2991,
             3016: 3016,
             3034: 3034,
             3039: 3039,
             3040: 3040,
             3060: 3060,
             3071: 3071,
             3101: 3101,
             3104: 3104,
             3108: 3108,
             3169: 3169,
             3208: 3208,
             3210: 3210,
             3251: 3251,
             3255: 3255,
             3263: 3263,
             3265: 3265,
             4006: 4006,
             3: 3,
             104: 104,
             231: 231,
             277: 277,
             344: 344,
             597: 597,
             788: 788,
             1035: 1035,
             1193: 1193,
             1221: 1221,
             1247: 1247,
             1393: 1393,
             1485: 1485,
             1682: 1682,
             1777: 1777,
             1784: 1784,
             1923: 1923,
             1997: 1997,
             2023: 2023,
             2273: 2273,
             2355: 2355,
             2424: 2424,
             2502: 2502,
             2706: 2706,
             2997: 2997,
             3114: 3114,
             3176: 3176,
             3408: 3408,
             3753: 3753,
             3897: 3897,
             3948: 3948,
             4014: 4014,
             4018: 4018,
             4022: 4022,
             4025: 4025,
             4306: 4306,
             4308: 4308,
             4447: 4447,
             4718: 4718,
             4963: 4963,
             4995: 4995,
             5266: 5266,
             5299: 5299,
             5464: 5464,
             5679: 5679,
             5816: 5816,
             5995: 5995,
             6218: 6218,
             6373: 6373,
             6502: 6502,
             6711: 6711,
             6942: 6942,
             8376: 8376,
             8464: 8464,
             8644: 8644,
             30707: 30707,
             30749: 30749,
             30793: 30793,
             33166: 33166,
             33679: 33679,
             34162: 34162,
             35836: 35836,
             40819: 40819,
             41566: 41566,
             41569: 41569,
             48385: 48385,
             111: 111,
             158: 158,
             293: 293,
             1204: 1204,
             1250: 1250,
             1276: 1276,
             1358: 1358,
             1639: 1639,
             1687: 1687,
             1747: 1747,
             1876: 1876,
             1909: 1909,
             2001: 2001,
             2019: 2019,
             2072: 2072,
             2528: 2528,
             2529: 2529,
             2571: 2571,
             2657: 2657,
             2692: 2692,
             2761: 2761,
             2890: 2890,
             3052: 3052,
             3300: 3300,
             3751: 3751,
             4641: 4641,
             4975: 4975,
             5952: 5952,
             7090: 7090,
             8368: 8368,
             8784: 8784,
             8874: 8874,
             1: 1,
             21: 21,
             40: 40,
             151: 151,
             198: 198,
             207: 207,
             316: 316,
             333: 333,
             345: 345,
             534: 534,
             671: 671,
             708: 708,
             724: 724,
             737: 737,
             745: 745,
             780: 780,
             786: 786,
             924: 924,
             1080: 1080,
             1148: 1148,
             1223: 1223,
             1231: 1231,
             1242: 1242,
             1275: 1275,
             1302: 1302,
             1353: 1353,
             1373: 1373,
             1375: 1375,
             1394: 1394,
             1408: 1408,
             32: 32,
             45: 45,
             282: 282,
             520: 520,
             524: 524,
             543: 543,
             628: 628,
             805: 805,
             1500: 1500,
             1552: 1552,
             1617: 1617,
             1625: 1625,
             1704: 1704,
             1754: 1754,
             2139: 2139,
             2302: 2302,
             2324: 2324,
             2329: 2329,
             2353: 2353,
             2423: 2423,
             3147: 3147,
             3578: 3578,
             3916: 3916,
             3996: 3996,
             4011: 4011,
             4019: 4019,
             4034: 4034,
             4226: 4226,
             4262: 4262,
             4448: 4448,
             4886: 4886,
             4896: 4896,
             4973: 4973,
             4993: 4993,
             5064: 5064,
             5378: 5378,
             5445: 5445,
             5630: 5630,
             5650: 5650,
             5989: 5989,
             6378: 6378,
             6870: 6870,
             6874: 6874,
             6879: 6879,
             7143: 7143,
             7438: 7438,
             8533: 8533,
             8873: 8873,
             32587: 32587,
             33493: 33493,
             33794: 33794,
             40583: 40583,
             42007: 42007,
             43556: 43556,
             43871: 43871,
             44004: 44004,
             26: 26,
             36: 36,
             608: 608,
             733: 733,
             1059: 1059,
             1177: 1177,
             1357: 1357,
             1411: 1411,
             1541: 1541,
             1584: 1584,
             1680: 1680,
             2125: 2125,
             2249: 2249,
             2278: 2278,
             2291: 2291,
             2391: 2391,
             2396: 2396,
             2427: 2427,
             2490: 2490,
             2501: 2501,
             2539: 2539,
             2857: 2857,
             152: 152,
             735: 735,
             1101: 1101,
             1423: 1423,
             1459: 1459,
             1499: 1499,
             1611: 1611,
             1690: 1690,
             1719: 1719,
             1887: 1887,
             2108: 2108,
             2344: 2344,
             2410: 2410,
             2826: 2826,
             2827: 2827,
             2840: 2840,
             2881: 2881,
             2907: 2907,
             2926: 2926,
             2995: 2995,
             3005: 3005,
             3019: 3019,
             70: 70,
             126: 126,
             169: 169,
             785: 785,
             923: 923,
             1027: 1027,
             1201: 1201,
             2042: 2042,
             2596: 2596,
             3424: 3424,
             6598: 6598,
             26614: 26614,
             48516: 48516,
             51084: 51084,
             58295: 58295,
             71211: 71211,
             77455: 77455,
             79132: 79132,
             80489: 80489,
             80906: 80906,
             81158: 81158,
             81562: 81562,
             88129: 88129,
             91500: 91500,
             91529: 91529,
             91548: 91548,
             96079: 96079,
             96861: 96861,
             97938: 97938,
             104841: 104841,
             106487: 106487,
             529: 529,
             538: 538,
             673: 673,
             1077: 1077,
             1215: 1215,
             1295: 1295,
             1732: 1732,
             2259: 2259,
             2460: 2460,
             2668: 2668,
             3146: 3146,
             3148: 3148,
             3179: 3179,
             3298: 3298,
             3324: 3324,
             3474: 3474,
             3770: 3770,
             3773: 3773,
             3780: 3780,
             3791: 3791,
             3793: 3793,
             3794: 3794,
             3798: 3798,
             3799: 3799,
             3801: 3801,
             3809: 3809,
             3825: 3825,
             3827: 3827,
             3829: 3829,
             3831: 3831,
             3841: 3841,
             3844: 3844,
             3861: 3861,
             3863: 3863,
             3864: 3864,
             3865: 3865,
             3869: 3869,
             3871: 3871,
             3873: 3873,
             3879: 3879,
             3885: 3885,
             3886: 3886,
             6184: 6184,
             362: 362,
             531: 531,
             914: 914,
             2572: 2572,
             2908: 2908,
             3396: 3396,
             3624: 3624,
             4310: 4310,
             4321: 4321,
             4878: 4878,
             7502: 7502,
             54286: 54286,
             64614: 64614,
             69757: 69757,
             78499: 78499,
             81834: 81834,
             88125: 88125,
             93363: 93363,
             2038: 2038,
             2394: 2394,
             2720: 2720,
             2724: 2724,
             2861: 2861,
             3157: 3157,
             3175: 3175,
             3354: 3354,
             3623: 3623,
             3986: 3986,
             3988: 3988,
             2: 2,
             5: 5,
             6: 6,
             11: 11,
             14: 14,
             16: 16,
             19: 19,
             22: 22,
             25: 25,
             44: 44,
             82: 82,
             94: 94,
             95: 95,
             101: 101,
             107: 107,
             123: 123,
             125: 125,
             145: 145,
             149: 149,
             157: 157,
             160: 160,
             162: 162,
             163: 163,
             164: 164,
             170: 170,
             172: 172,
             175: 175,
             176: 176,
             180: 180,
             193: 193,
             196: 196,
             214: 214,
             215: 215,
             216: 216,
             230: 230,
             232: 232,
             233: 233,
             237: 237,
             246: 246,
             252: 252,
             288: 288,
             306: 306,
             307: 307,
             308: 308,
             322: 322,
             335: 335,
             342: 342,
             353: 353,
             373: 373,
             429: 429,
             441: 441,
             466: 466,
             471: 471,
             481: 481,
             483: 483,
             494: 494,
             535: 535,
             540: 540,
             549: 549,
             555: 555,
             556: 556,
             562: 562,
             574: 574,
             647: 647,
             648: 648,
             663: 663,
             665: 665,
             674: 674,
             680: 680,
             748: 748,
             750: 750,
             762: 762,
             784: 784,
             799: 799,
             800: 800,
             802: 802,
             803: 803,
             804: 804,
             832: 832,
             836: 836,
             851: 851,
             899: 899,
             904: 904,
             908: 908,
             909: 909,
             911: 911,
             912: 912,
             916: 916,
             920: 920,
             922: 922,
             926: 926,
             931: 931,
             953: 953,
             994: 994,
             1020: 1020,
             1041: 1041,
             1047: 1047,
             1060: 1060,
             1084: 1084,
             1088: 1088,
             1092: 1092,
             1093: 1093,
             1094: 1094,
             1095: 1095,
             1100: 1100,
             1120: 1120,
             1131: 1131,
             1147: 1147,
             1171: 1171,
             1173: 1173,
             1176: 1176,
             1178: 1178,
             1179: 1179,
             1183: 1183,
             1186: 1186,
             1189: 1189,
             1199: 1199,
             1203: 1203,
             1207: 1207,
             1209: 1209,
             1211: 1211,
             1212: 1212,
             1217: 1217,
             1218: 1218,
             1228: 1228,
             1233: 1233,
             1234: 1234,
             1244: 1244,
             1246: 1246,
             1248: 1248,
             1249: 1249,
             1251: 1251,
             1252: 1252,
             1254: 1254,
             1260: 1260,
             1262: 1262,
             1264: 1264,
             1266: 1266,
             1267: 1267,
             1272: 1272,
             1280: 1280,
             1281: 1281,
             1283: 1283,
             1284: 1284,
             1289: 1289,
             1290: 1290,
             1297: 1297,
             1303: 1303,
             1304: 1304,
             1320: 1320,
             1333: 1333,
             1342: 1342,
             1361: 1361,
             1370: 1370,
             1385: 1385,
             1391: 1391,
             1407: 1407,
             1449: 1449,
             1464: 1464,
             1466: 1466,
             1476: 1476,
             1479: 1479,
             1483: 1483,
             1484: 1484,
             1502: 1502,
             1503: 1503,
             1513: 1513,
             1517: 1517,

In [9]:
len(my_movie_dict)

9066

In [10]:
series_movie = pd.Series(my_movie_dict.values())
series_movie.index = range(1, len(my_movie_dict)+1)
series_movie

1          31
2        1029
3        1061
4        1129
5        1172
        ...
9062    64997
9063    72380
9064      129
9065     4736
9066     6425
Length: 9066, dtype: int64

In [11]:
my_user_dict = defaultdict(int)

In [12]:
for i in range(len(data_ntm['userId'])):
    if data_ntm['userId'][i] not in my_user_dict:
        my_user_dict[data_ntm['userId'][i]] = data_ntm['userId'][i]

In [13]:
len(my_user_dict)

671

In [14]:
series_user = pd.Series(my_user_dict.values())
series_user.index = range(1, len(my_user_dict)+1)
series_user

1        1
2        2
3        3
4        4
5        5
      ...
667    667
668    668
669    669
670    670
671    671
Length: 671, dtype: int64

In [15]:
rating_array = np.zeros((len(series_user),len(series_movie)), dtype=float)

In [16]:
df_rating = pd.DataFrame(rating_array, columns = series_movie.index)
df_rating.index = df_rating.index + 1 
df_rating

,1,2,3,4,5,6,7,8,9,10,...,9057,9058,9059,9060,9061,9062,9063,9064,9065,9066
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
668,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
669,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
670,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
671,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
for row in range(len(data_ntm)):
    user_id = int(data_ntm.iloc[row]['userId'])
    movie_id = int(data_ntm.iloc[row]['movieId'])
    rating = data_ntm.iloc[row]['rating']
    df_rating[user_id][movie_id] = rating

In [18]:
df_rating

,1,2,3,4,5,6,7,8,9,10,...,9057,9058,9059,9060,9061,9062,9063,9064,9065,9066
1,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
668,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
669,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
670,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
671,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
df_rating[]