### Import Data and Inputs&Targets

In [1]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv('/Users/kyotun/Desktop/ML/sat-gpa/csv/multiple_linear_regression.csv')
data.head()

    SAT  Rand 1,2,3   GPA
0  1714           1  2.40
1  1664           3  2.52
2  1760           3  2.54
3  1685           3  2.74
4  1693           2  2.83

In [4]:
x = data[['SAT', 'Rand 1,2,3']]
y = data['GPA']