### Import the libs and data sets

In [2]:
!pip install minisom

Requirement already satisfied: minisom in /Users/kyotun/anaconda3/lib/python3.11/site-packages (2.3.2)

In [5]:
from minisom import MiniSom

In [6]:
import numpy as np
import pandas as pd

In [8]:
dataset = pd.read_csv('/Users/kyotun/Desktop/ML/fraud-detection/csv/credit_card_applications.csv')
dataset

,CustomerID,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,Class
0,15776156,1,22.08,11.460,2,4,4,1.585,0,0,0,1,2,100,1213,0
1,15739548,0,22.67,7.000,2,8,4,0.165,0,0,0,0,2,160,1,0
2,15662854,0,29.58,1.750,1,4,4,1.250,0,0,0,1,2,280,1,0
3,15687688,0,21.67,11.500,1,5,3,0.000,1,1,11,1,2,0,1,1
4,15715750,1,20.17,8.170,2,6,4,1.960,1,1,14,0,2,60,159,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,15808223,1,31.57,10.500,2,14,4,6.500,1,0,0,0,2,0,1,1
686,15769980,1,20.67,0.415,2,8,4,0.125,0,0,0,0,2,0,45,0
687,15675450,0,18.83,9.540,2,6,4,0.085,1,0,0,0,2,100,1,1
688,15776494,0,27.42,14.500,2,14,8,3.085,1,1,1,0,2,120,12,1
689,15592412,1,41.00,0.040,2,10,4,0.040,0,1,1,0,1,560,1,1

In [9]:
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

### Feature Scaling

In [13]:
from sklearn.preprocessing import MinMaxScaler

In [14]:
sc = MinMaxScaler(feature_range = (0,1))
X = sc.fit_transform(X)
pd.set_option('display.float_format', '{:.2f}'.format)
np.set_printoptions(precision=10)
X

array([[8.4268146671e-01, 1.0000000000e+00, 1.2526315789e-01, ...,
        5.0000000000e-01, 5.0000000000e-02, 1.2120000000e-02],
       [6.9609056217e-01, 0.0000000000e+00, 1.3413533835e-01, ...,
        5.0000000000e-01, 8.0000000000e-02, 0.0000000000e+00],
       [3.8898165612e-01, 0.0000000000e+00, 2.3804511278e-01, ...,
        5.0000000000e-01, 1.4000000000e-01, 0.0000000000e+00],
       ...,
       [4.3942033164e-01, 0.0000000000e+00, 7.6390977444e-02, ...,
        5.0000000000e-01, 5.0000000000e-02, 0.0000000000e+00],
       [8.4403493387e-01, 0.0000000000e+00, 2.0556390977e-01, ...,
        5.0000000000e-01, 6.0000000000e-02, 1.1000000000e-04],
       [1.0690788815e-01, 1.0000000000e+00, 4.0977443609e-01, ...,
        0.0000000000e+00, 2.8000000000e-01, 0.0000000000e+00]])