### Import Data

In [79]:
import pandas as pd
import numpy as np

In [80]:
# change the display options
pd.options.display.max_rows = 5
pd.options.display.max_columns = None

In [81]:
raw_csv_data = pd.read_csv('/Users/kyotun/Desktop/ML/absenteeism/data/absenteeism_data.csv')
raw_csv_data

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
698,25,23,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,15,28,31/05/2018,291,31,40,237.656,25,1,1,1,2

In [82]:
# no missing values
raw_csv_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID                         700 non-null    int64
 1   Reason for Absence         700 non-null    int64
 2   Date                       700 non-null    object
 3   Transportation Expense     700 non-null    int64
 4   Distance to Work           700 non-null    int64
 5   Age                        700 non-null    int64
 6   Daily Work Load Average    700 non-null    float64
 7   Body Mass Index            700 non-null    int64
 8   Education                  700 non-null    int64
 9   Children                   700 non-null    int64
 10  Pets                       700 non-null    int64
 11  Absenteeism Time in Hours  700 non-null    int64
dtypes: float64(1), int64(10), object(1)
memory usage: 65.8+ KB

In [83]:
# copy the data the be safe
df = raw_csv_data.copy()
df

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
698,25,23,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,15,28,31/05/2018,291,31,40,237.656,25,1,1,1,2

### Preprocess Data

In [84]:
# drop 'ID', cause it doesn't effect
df = df.drop(['ID'], axis=1)
df

,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
698,23,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,28,31/05/2018,291,31,40,237.656,25,1,1,1,2

In [85]:
# Get the dummies
reasons_columns = pd.get_dummies(df['Reason for Absence'])
reasons_columns

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,21,22,23,24,25,26,27,28
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
1,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
698,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
699,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True

In [86]:
# one worker can be absent from one any only one reason
# sum of a row should be 1
reasons_columns['check'] = reasons_columns.sum(axis=1)
reasons_columns

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,21,22,23,24,25,26,27,28,check
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,1
1,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
698,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,1
699,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,1

In [87]:
# check if there is a different value then 1
reasons_columns['check'].unique()

array([1])

In [88]:
#sum up the check columns and get 700(if you don't get it, there should be an at least one person )
reasons_columns['check'].sum(axis=0)

700

In [89]:
#drop the unkown reasons -> 0s
reason_columns = pd.get_dummies(df['Reason for Absence'], drop_first=True)
reason_columns

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,21,22,23,24,25,26,27,28
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
698,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
699,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True

In [90]:
#if we add the dummy variables to the df we would observe duplication of Reason for Absence, therefore drop that column
df.columns.values

array(['Reason for Absence', 'Date', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average',
       'Body Mass Index', 'Education', 'Children', 'Pets',
       'Absenteeism Time in Hours'], dtype=object)

In [91]:
reason_columns.columns.values

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 21, 22, 23, 24, 25, 26, 27, 28])

In [92]:
df = df.drop(['Reason for Absence'], axis=1)
df

,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,14/07/2015,118,13,50,239.554,31,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...
698,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,31/05/2018,291,31,40,237.656,25,1,1,1,2

In [93]:
reason_type_1 = reason_columns.loc[:, 1:14].max(axis=1)
reason_type_2 = reason_columns.loc[:, 15:17].max(axis=1)
reason_type_3 = reason_columns.loc[:, 18:21].max(axis=1)
reason_type_4 = reason_columns.loc[:, 22:].max(axis=1)

In [94]:
# Concatenate columns values
df = pd.concat([df, reason_type_1, reason_type_2, reason_type_3, reason_type_4], axis=1)
df

,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,0,1,2,3
0,07/07/2015,289,36,33,239.554,30,1,2,1,4,False,False,False,True
1,14/07/2015,118,13,50,239.554,31,1,1,0,0,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
698,24/05/2018,235,16,32,237.656,25,3,0,0,2,False,False,False,True
699,31/05/2018,291,31,40,237.656,25,1,1,1,2,False,False,False,True

In [95]:
df.columns.values

array(['Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 0, 1, 2, 3],
      dtype=object)

In [96]:
columns_names = ['Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 'Reason_1', 'Reason_2', 'Reason_3', 'Reason_4']

In [97]:
df.columns = columns_names
df.head()

,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Reason_1,Reason_2,Reason_3,Reason_4
0,07/07/2015,289,36,33,239.554,30,1,2,1,4,False,False,False,True
1,14/07/2015,118,13,50,239.554,31,1,1,0,0,False,False,False,False
2,15/07/2015,179,51,38,239.554,31,1,0,0,2,False,False,False,True
3,16/07/2015,279,5,39,239.554,24,1,2,0,4,True,False,False,False
4,23/07/2015,289,36,33,239.554,30,1,2,1,2,False,False,False,True

In [98]:
column_names_reordered = ['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Date', 
                          'Transportation Expense', 'Distance to Work', 'Age',
                          'Daily Work Load Average', 'Body Mass Index', 'Education',
                          'Children', 'Pets', 'Absenteeism Time in Hours']
df = df[column_names_reordered]
df.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,False,False,False,True,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,False,False,False,False,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,False,False,False,True,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,True,False,False,False,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,False,False,False,True,23/07/2015,289,36,33,239.554,30,1,2,1,2

In [99]:
# Checkpoint
df_reason_mod = df.copy()
df_reason_mod

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,False,False,False,True,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,False,False,False,False,14/07/2015,118,13,50,239.554,31,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
698,False,False,False,True,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,False,False,False,True,31/05/2018,291,31,40,237.656,25,1,1,1,2

In [100]:
# don't forget to specify the format, you would get inconsistent outputs
# %d -> day
# %m -> month
# %Y -> year
# %H -> hour
# %M -> minute
# %S -> second
df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'], format='%d/%m/%Y')
df_reason_mod

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,False,False,False,True,2015-07-07,289,36,33,239.554,30,1,2,1,4
1,False,False,False,False,2015-07-14,118,13,50,239.554,31,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
698,False,False,False,True,2018-05-24,235,16,32,237.656,25,3,0,0,2
699,False,False,False,True,2018-05-31,291,31,40,237.656,25,1,1,1,2

In [101]:
df_reason_mod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Reason_1                   700 non-null    bool
 1   Reason_2                   700 non-null    bool
 2   Reason_3                   700 non-null    bool
 3   Reason_4                   700 non-null    bool
 4   Date                       700 non-null    datetime64[ns]
 5   Transportation Expense     700 non-null    int64
 6   Distance to Work           700 non-null    int64
 7   Age                        700 non-null    int64
 8   Daily Work Load Average    700 non-null    float64
 9   Body Mass Index            700 non-null    int64
 10  Education                  700 non-null    int64
 11  Children                   700 non-null    int64
 12  Pets                       700 non-null    int64
 13  Absenteeism Time in Hours  700 non-null    int64
dtypes: bool(4), datetime64[ns](1), float64(1), int64(8)
memory usage: 57.6 KB

In [102]:
# Get the month values
list_months = []
for i in range(df_reason_mod.shape[0]):
    list_months.append(df_reason_mod['Date'][i].month)

In [103]:
df_reason_mod['Month Value'] = list_months
df_reason_mod

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value
0,False,False,False,True,2015-07-07,289,36,33,239.554,30,1,2,1,4,7
1,False,False,False,False,2015-07-14,118,13,50,239.554,31,1,1,0,0,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
698,False,False,False,True,2018-05-24,235,16,32,237.656,25,3,0,0,2,5
699,False,False,False,True,2018-05-31,291,31,40,237.656,25,1,1,1,2,5

In [104]:
# Get the day values
list_days = []
for i in range(df_reason_mod.shape[0]):
    list_days.append(df_reason_mod['Date'][i].weekday())

In [105]:
df_reason_mod['Weekday'] = list_days
df_reason_mod

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value,Weekday
0,False,False,False,True,2015-07-07,289,36,33,239.554,30,1,2,1,4,7,1
1,False,False,False,False,2015-07-14,118,13,50,239.554,31,1,1,0,0,7,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
698,False,False,False,True,2018-05-24,235,16,32,237.656,25,3,0,0,2,5,3
699,False,False,False,True,2018-05-31,291,31,40,237.656,25,1,1,1,2,5,3

In [106]:
def date_to_weekday(date_value):
    return date_value.weekday()

In [107]:
df_reason_mod['Weekday'] = df_reason_mod['Date'].apply(date_to_weekday)
df_reason_mod

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value,Weekday
0,False,False,False,True,2015-07-07,289,36,33,239.554,30,1,2,1,4,7,1
1,False,False,False,False,2015-07-14,118,13,50,239.554,31,1,1,0,0,7,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
698,False,False,False,True,2018-05-24,235,16,32,237.656,25,3,0,0,2,5,3
699,False,False,False,True,2018-05-31,291,31,40,237.656,25,1,1,1,2,5,3

In [108]:
# No need for date, day and motnh values are taken
df_reason_mod = df_reason_mod.drop(['Date'], axis=1)
df_reason_mod

,Reason_1,Reason_2,Reason_3,Reason_4,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value,Weekday
0,False,False,False,True,289,36,33,239.554,30,1,2,1,4,7,1
1,False,False,False,False,118,13,50,239.554,31,1,1,0,0,7,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
698,False,False,False,True,235,16,32,237.656,25,3,0,0,2,5,3
699,False,False,False,True,291,31,40,237.656,25,1,1,1,2,5,3

In [109]:
df_reason_mod.columns.values

array(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4',
       'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 'Month Value',
       'Weekday'], dtype=object)

In [110]:
mod_column_names = ['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4',
                'Month Value', 'Weekday', 'Transportation Expense', 
                'Distance to Work', 'Age', 'Daily Work Load Average', 
                'Body Mass Index', 'Education', 'Children', 'Pets', 
                'Absenteeism Time in Hours']
df_reason_mod = df_reason_mod[mod_column_names]
df_reason_mod

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Weekday,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,False,False,False,True,7,1,289,36,33,239.554,30,1,2,1,4
1,False,False,False,False,7,1,118,13,50,239.554,31,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
698,False,False,False,True,5,3,235,16,32,237.656,25,3,0,0,2
699,False,False,False,True,5,3,291,31,40,237.656,25,1,1,1,2

In [111]:
# create a checkpoint
df_reason_date_mod = df_reason_mod.copy()
df_reason_date_mod

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Weekday,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,False,False,False,True,7,1,289,36,33,239.554,30,1,2,1,4
1,False,False,False,False,7,1,118,13,50,239.554,31,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
698,False,False,False,True,5,3,235,16,32,237.656,25,3,0,0,2
699,False,False,False,True,5,3,291,31,40,237.656,25,1,1,1,2

In [112]:
display(df_reason_date_mod)
# education is categorical data
# children is numerical data
# pets is numerical data

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Weekday,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,False,False,False,True,7,1,289,36,33,239.554,30,1,2,1,4
1,False,False,False,False,7,1,118,13,50,239.554,31,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
698,False,False,False,True,5,3,235,16,32,237.656,25,3,0,0,2
699,False,False,False,True,5,3,291,31,40,237.656,25,1,1,1,2

In [113]:
df_reason_date_mod['Education'].unique()

array([1, 3, 2, 4])

In [114]:
df_reason_date_mod['Education'].value_counts()

Education
1    583
3     73
2     40
4      4
Name: count, dtype: int64

In [115]:
# combine the 2-3-4 into one category
# 1 will be 0
# 2-3-4 will be 1
# specifying if a person have high education or not
df_reason_date_mod['Education'] = df_reason_date_mod['Education'].map({1:0, 2:1, 3:1, 4:1})
# if you don't assign a number to a category, map function would behave strange and assign random numbers or NaN(not a number)
    # to a category
df_reason_date_mod

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Weekday,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,False,False,False,True,7,1,289,36,33,239.554,30,0,2,1,4
1,False,False,False,False,7,1,118,13,50,239.554,31,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
698,False,False,False,True,5,3,235,16,32,237.656,25,1,0,0,2
699,False,False,False,True,5,3,291,31,40,237.656,25,0,1,1,2

In [116]:
df_reason_date_mod['Education'].unique()

array([0, 1])

In [117]:
df_reason_date_mod['Education'].value_counts()

Education
0    583
1    117
Name: count, dtype: int64

In [118]:
# create checkpoint
df_preprocessed = df_reason_date_mod.copy()
df_preprocessed

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Weekday,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,False,False,False,True,7,1,289,36,33,239.554,30,0,2,1,4
1,False,False,False,False,7,1,118,13,50,239.554,31,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
698,False,False,False,True,5,3,235,16,32,237.656,25,1,0,0,2
699,False,False,False,True,5,3,291,31,40,237.656,25,0,1,1,2